@{
    ViewBag.Title = "Portfolio";
}

<div class="hero-unit">
    <h1>Portfolio?</h1>
    <p class="lead">You're looking at it! I'm still early in my web career so I don't have much to show just yet :(</p>
</div>
<div class="row">
    <div class="span4">
        <h2>GitHub</h2>
        <p>
            All the code I write in my personal time gets hosted publically on GitHub, excepting stuff I don't have the rights to host. Take a look, this very webstie is even on there!
        </p>
        <p><a class="btn" href="https://github.com/JWroe">Away we go! &raquo;</a></p>
        
        <h2>LinkedIn</h2>
        <p>
            If you want to see my work related achievements, see my LinkedIn account
        </p>
        <p><a class="btn" href="http://uk.linkedin.com/pub/jamie-wroe/63/9b9/122">Learn more &raquo;</a></p>
    </div>
</div>http://uk.linkedin.com/pub/jamie-wroe/63/9b9/122